{% extends 'base.html' %}



{% block content %}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/static/images/blog_bg.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <h1 class="mb-3 bread">Travel Tips &amp; Blog</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
      <div class="row d-flex">
        {% for post in posts %}
        <div class="col-md-4 d-flex ftco-animate">
            <div class="blog-entry">
            <a href="{% url 'post_detail' post.id %}" class="block-20" style="background-image: url('{{ post.image.url }}');">
            </a>
            <div class="text mt-3 float-right d-block">
                <div class="d-flex align-items-center mb-4 topp">
                    <div class="one">
                        <span class="day" style="font-size:40px">{{ post.created.day }}</span>
                    </div>
                    <div class="two"> 
                        <span class="yr">{{ post.created.year }}</span>
                        <span class="mos">{{ post.created|date:'F'}}</span>
                    </div>
              </div>
              <h3 class="heading"><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h3>
              <span class="badge badge-primary">{{post.category}}</span>
              <p>{{ post.text|truncatechars:100 }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li><a href="#">&lt;</a></li>
              <li class="active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&gt;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}