{% extends 'base.html' %}

{% load static %}

{% block style %}
        
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}



{% block content %}
<div class="container">
    <form style="margin: 6rem 0;" action="#" method="post">
    <h2>Войти</h2>
        <p>
            <label for="id_username" class="floatLabel">Имя пользователя:</label>
            {{form.username}}
        </p>
        <p>
            <label for="id_password" class="floatLabel">Пароль:</label>
            {{form.password}}
            {% csrf_token %}
        </p>
		<p>
			<input type="submit" value="Войти" id="submit">
		</p>
    </form>
</div>
{% endblock %}